@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);

*,body,main {
    margin: 0;
    padding: 0;
    font-family: Oswald, sans-serif;
    font-size: 19px;
}
.pop-up-menu {
    width: 200px;
    height: 160px;
    background-color: rgb(9, 9, 9);
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 20px;
}
.close-menu {
    background-color: rgb(255, 255, 255);
    width: 240px;
    position: relative;
    right: 20px;
    bottom: 30px;
    text-align: end;
    border-radius: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-bottom: -30px;
}
input {
    border-radius: 15px;
    border: 2px solid black;
}
img {
    cursor: pointer;
    margin-top: 5px;
    transition: all 0.5s ease;
}
img:hover {
    opacity: 0.5;
}
.login-input {
    margin-bottom: 20px;
}
body {
    background: white;
    transition: all 0.2s ease;
}
.login-button {
    background-color: white;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid black;
    padding: 2px 20px;
    margin-top: 30px;
    margin-left: 65px;
    transition: all 0.3s ease;
}
.login-button:hover {
    opacity: 0.9;
}
img {
    z-index: 1000;
    position: relative;
    bottom: 30px;
    left: 200px;
}
input {
    padding-left: 23px;
    padding-bottom: 2px;
}